.no-hotels-container {
    color: #ffae5a;
    margin: 2% 35%;
    font-size: 1.5em;
}
.wrapper {
    display: flex;
    flex-direction: column;
}

.hotel-list-container {
    margin: 0 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.add-hotel-container {
    margin: 0 8%;
}

.hotel-card {
    width: 32%;
    border: 1px solid #ffae5a;
    border-radius: 8px;
    cursor: pointer;
}

.hotel-picture {
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.hotel-list-container .hotel-details {
    border-top: 1px solid #ffae5a;
    padding: 1em;
}

.hotel-name {
    font-size: 1.8em;
    font-weight: 600;
}

.hotel-location {
    font-size: 1em;
    color: gray;
}

.hotel-rating {
    display: flex;
    background-color: #ffae5a;
    color: #fff;
    padding: 0 0.5em;
    width: 14%;
    border-radius: 4px;
}

.hotel-price {
    font-size: 1.2em;
    font-weight: 500;
    color: #ffae5a;
}

.hotel-details-container {
    margin: 5% 12% 1%;
}

.hotel-details-second-container {
    display: flex;
}

.hotel-details-second-container .hotel-picture {
    border-radius: 8px;
}

.hotel-details-second-container .hotel-details {
    padding: 1em;
    width: 50%;
}

.hotel-details-second-container .hotel-name {
    font-size: 3em;
}

.hotel-aminities {
    display: flex;
}

.hotel-details-second-container .hotel-rating {
    width: 8%;
}

.am-circle {
    font-size: 0.6em;
    color: #ffae5a;
}

.aminity {
    display: flex;
    align-items: center;
}

.hotel-details-second-container .hotel-price {
    font-size: 1.8em;
}

.review-header-button {
    display: flex;
    justify-content: space-between;
}
.booking-search-container {
    display: flex;
}

.total-price {
    color: #ffae5a;
    font-size: 1.8em;
    font-weight: 500;
}

.favouite {
    color: #ffae5a;
}

.label {
    color: #ffa546;
}

.edit-pencil {
    color: #ffae5a;
    font-size: 0.6em;
    cursor: pointer;
}

.hotel-picture-rating-container {
    padding: 1em;
}

.reviews-container {
    padding: 1em 0;
}

.hotel-review {
    border: 1px solid #ffae5a;
    border-radius: 8px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    background-color: #ffae5a;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.review-comment {
    padding: 0.5em 1em;
}