.signin-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signin-container::before {
    content: "";
    background-image: url("../assets/igloo-background-signin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.welcome-line {
    font-weight: 100;
    color: #ffa546;
    position: relative;
}

.user-form {
    width: 15%;
    position: relative;
}
.user-form .form-control {   
    border-color: #ffa546;
}

.signup-btn-container {
    display: flex;
    justify-content: center;
}

.signup-btn-container .custom-btn {
    background-color: #ffae5a;
    color: #fff;
    border-color: #ffa546;
}

.user-table-container {
    margin: 0 2%;
}

.account-container {
    margin: 5% 18%;
    display: flex;
}

.account-container .details-container {
    width: 75%;
}

.form-control {
    border-color: #ffa546;
}

.label {
    color: #ffa546;
}
.bookings-container {
    width: 40%;
}

.bookings-container .booking-item{
    border: 1px solid #ffa546;
    border-radius: 8px;
    padding: 1em;
}

.hotel-checkin span{
    color: #ffa546;
}

table .user-row {
    color: #ffa546;
    cursor: pointer;
}
