.navbar .container-fluid {
    flex-wrap: nowrap;
    padding: 0 18%;
}

.navbar .navbar-collapse{    
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-brand {
    font-size: 1.8em;
}

.signin-link {
    font-weight: 600;
    color: #ffae5a;
    cursor: pointer;
}

.navbar-collapse .user-name {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
}